---
page_title: "Splunk Observability Cloud: signalfx_alert_muting_rule"
description: |-
  Allows Terraform to create and manage Splunk Observability Cloud Alert Muting Rules
---

# Resource: signalfx_alert_muting_rule

Provides a Splunk Observability Cloud resource for managing alert muting rules. See [Mute Notifications](https://docs.splunk.com/Observability/alerts-detectors-notifications/mute-notifications.html) for more information.

Splunk Observability Cloud currently allows linking an alert muting rule with only one detector ID. Specifying multiple detector IDs makes the muting rule obsolete.

~> **WARNING** Splunk Observability Cloud does not allow the start time of a **currently active** muting rule to be modified. Attempting to modify a currently active rule destroys the existing rule and creates a new rule. This might result in the emission of notifications.

## Example

{{tffile "examples/resources/alert_muting_rule/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
