---
page_title: "Splunk Observability Cloud: signalfx_alert_muting_rule"
description: |-
  Allows Terraform to create and manage Splunk Observability Cloud Alert Muting Rules
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# Resource: signalfx_alert_muting_rule

Provides a Splunk Observability Cloud resource for managing alert muting rules. See [Mute Notifications](https://docs.splunk.com/Observability/alerts-detectors-notifications/mute-notifications.html) for more information.

Splunk Observability Cloud currently allows linking an alert muting rule with only one detector ID. Specifying multiple detector IDs makes the muting rule obsolete.

~> **WARNING** Splunk Observability Cloud does not allow the start time of a **currently active** muting rule to be modified. Attempting to modify a currently active rule destroys the existing rule and creates a new rule. This might result in the emission of notifications.

## Example

{{tffile "examples/resources/alert_muting_rule/example_1.tf"}}

## Arguments

* `description` - (Required) The description for this muting rule
* `start_time` - (Required) Starting time of an alert muting rule as a Unit time stamp in seconds.
* `stop_time` - (Optional) Stop time of an alert muting rule as a Unix time stamp in seconds.
* `detectors` - (Optional) A convenience attribute that associated this muting rule with specific detector IDs. Currently, only one ID is supported.
* `filter` - (Optional) Filters for this rule. See [Creating muting rules from scratch](https://docs.splunk.com/Observability/alerts-detectors-notifications/mute-notifications.html#rule-from-scratch) for more information.
  * `property` - (Required) The property to filter.
  * `property_value` - (Required) The property value to filter.
  * `negated` - (Optional) Determines if this is a "not" filter. Defaults to `false`.
* `recurrence` - (Optional) Defines the recurrence of the muting rule. Allows setting a recurring muting rule based on specified days or weeks.
  * `unit` - (Required) The unit of the period. Can be days (d) or weeks (w).
  * `value` - (Required) The amount of time, expressed as an integer, applicable to the unit specified.

## Attributes

In a addition to all arguments above, the following attributes are exported:

* `id` - The ID of the alert muting rule.
* `effective_start_time`
