---
page_title: "Splunk Observability Cloud: signalfx_automated_archival_settings"
description: |-
  Manages automated metric archival settings in Splunk Observability Cloud.
---

# Resource: signalfx_automated_archival_settings

Manages the organization-wide automated archival policy for unused metrics.

## Example

{{tffile "examples/resources/automated_archival_settings/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}
