---
page_title: "Splunk Observability Cloud: signalfx_automated_archival_exempt_metric"
description: |-
  Manages metrics exempted from automated archival in Splunk Observability Cloud.
---

# Resource: signalfx_automated_archival_exempt_metric

Manages a replacement-only group of metrics that remain available when automated archival is enabled.

## Example

{{tffile "examples/resources/automated_archival_exempt_metric/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}
