---
page_title: "Splunk Observability Cloud: signalfx_aws_external_integration"
description: |-
  Allows Terraform to create and manage Splunk Observability AWS External ID Integrations
---

# Resource: signalfx_aws_external_integration

Splunk Observability AWS CloudWatch integrations using Role ARNs. For help with this integration see [Connect to AWS CloudWatch](https://docs.splunk.com/observability/en/gdi/get-data-in/connect/aws/aws-apiconfig.html).

~> **NOTE** When managing integrations, use a session token of an administrator to authenticate the Splunk Observability provider. See [Operations that require a session token for an administrator](https://dev.splunk.com/observability/docs/administration/authtokens#Operations-that-require-a-session-token-for-an-administrator).

~> **WARNING** This resource implements part of a workflow. Use it with `signalfx_aws_integration`. Check with Splunk support for your realm's AWS account id.

~> **NOTE** When AWS IAM role is also created by Terraform to enforce a proper cleanup sequence add role related resources as dependencies for the `signalfx_aws_integration` resource. See the `depends_on` section in the example script below.

## Example

{{tffile "examples/resources/aws_external_integration/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
