---
page_title: "Splunk Observability Cloud: signalfx_aws_integration"
description: |-
  Allows Terraform to create and manage AWS integrations for Splunk Observability Cloud
---

# Resource: signalfx_aws_integration

AWS CloudWatch integrations for Splunk Observability Cloud. For help with this integration see [Monitoring Amazon Web Services](https://docs.splunk.com/observability/en/gdi/get-data-in/connect/aws/get-awstoc.html).

This resource completes the workflow started by either `signalfx_aws_external_integration` or `signalfx_aws_token_integration`.

~> **NOTE** When managing integrations, use a session token of an administrator to authenticate the Splunk Observability provider. See [Operations that require a session token for an administrator](https://dev.splunk.com/observability/docs/administration/authtokens#Operations-that-require-a-session-token-for-an-administrator).

## Example

{{tffile "examples/resources/aws_integration/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
