---
page_title: "Splunk Observability Cloud: signalfx_metric_ruleset"
description: |-
  Allows Terraform to create and manage Splunk Infrastructure Monitoring metric rulesets
---

# Resource: signalfx_metric_ruleset

Provides an Observability Cloud resource for managing metric rulesets.

~> **NOTE** When managing metric rulesets to drop data use a session token for an administrator to authenticate the Splunk Observability Cloud provider. See [Operations that require a session token for an administrator](https://dev.splunk.com/observability/docs/administration/authtokens#Operations-that-require-a-session-token-for-an-administrator). Otherwise you'll receive a 4xx error.

## Example

{{tffile "examples/resources/metric_ruleset/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
