---
page_title: "Observability Cloud: signalfx_service_now_integration"
description: |-
  Allows Terraform to create and manage ServiceNow Integrations for Splunk Observability Cloud
---
# Resource: signalfx_service_now_integration

ServiceNow integrations. For help with this integration see [Integration with ServiceNow](https://docs.splunk.com/observability/en/admin/notif-services/servicenow.html).

~> **NOTE** When managing integrations, use a session token of an administrator to authenticate the Observability Cloud provider. See [Operations that require a session token for an administrator](https://dev.splunk.com/observability/docs/administration/authtokens#Operations-that-require-a-session-token-for-an-administrator). Otherwise you'll receive a 4xx error.

## Example

{{tffile "examples/resources/service_now_integration/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
