---
page_title: "Splunk Observability Cloud: signalfx_single_value_chart"
description: |-
  Allows Terraform to create and manage single value charts in Splunk Observability Cloud
---

{{/* This template serves as a starting point for documentation generation, and can be customized with hardcoded values and/or doc gen templates.

For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation if descriptions of schema attributes are added in the provider source code. */ -}}

# Resource: signalfx_single_value_chart

This chart type displays a single number in a large font, representing the current value of a single metric on a plot line.

If the time period is in the past, the number represents the value of the metric near the end of the time period.

## Example

{{tffile "examples/resources/single_value_chart/example_1.tf"}}

## Arguments

The following arguments are supported in the resource block:

* `name` - (Required) Name of the chart.
* `program_text` - (Required) Signalflow program text for the chart. More info [in the Splunk Observability Cloud docs](https://dev.splunk.com/observability/docs/signalflow/).
* `description` - (Optional) Description of the chart.
* `color_by` - (Optional) Must be `"Dimension"`, `"Scale"` or `"Metric"`. `"Dimension"` by default.
* `color_scale` - (Optional. `color_by` must be `"Scale"`) Single color range including both the color to display for that range and the borders of the range. Example: `[{ gt = 60, color = "blue" }, { lte = 60, color = "yellow" }]`. Look at this [link](https://docs.signalfx.com/en/latest/charts/chart-options-tab.html).
  * `gt` - (Optional) Indicates the lower threshold non-inclusive value for this range.
  * `gte` - (Optional) Indicates the lower threshold inclusive value for this range.
  * `lt` - (Optional) Indicates the upper threshold non-inculsive value for this range.
  * `lte` - (Optional) Indicates the upper threshold inclusive value for this range.
  * `color` - (Required) The color to use. Must be one of red, gold, iris, green, jade, gray, blue, azure, navy, brown, orange, yellow, magenta, cerise, pink, violet, purple, lilac, emerald, chartreuse, yellowgreen, aquamarine.
* `viz_options` - (Optional) Plot-level customization options, associated with a publish statement.
  * `label` - (Required) Label used in the publish statement that displays the plot (metric time series data) you want to customize.
  * `display_name` - (Optional) Specifies an alternate value for the Plot Name column of the Data Table associated with the chart.
  * `color` - (Optional) The color to use. Must be one of gray, blue, light_blue, navy, dark_orange, orange, dark_yellow, magenta, cerise, pink, violet, purple, gray_blue, dark_green, green, aquamarine, red, yellow, vivid_yellow, light_green, or lime_green.
  * `value_unit` - (Optional) A unit to attach to this plot. Units support automatic scaling (eg thousands of bytes will be displayed as kilobytes). Values values are `Bit, Kilobit, Megabit, Gigabit, Terabit, Petabit, Exabit, Zettabit, Yottabit, Byte, Kibibyte, Mebibyte, Gibibyte (note: this was previously typoed as Gigibyte), Tebibyte, Pebibyte, Exbibyte, Zebibyte, Yobibyte, Nanosecond, Microsecond, Millisecond, Second, Minute, Hour, Day, Week`.
  * `value_prefix`, `value_suffix` - (Optional) Arbitrary prefix/suffix to display with the value of this plot.
* `unit_prefix` - (Optional) Must be `"Metric"` or `"Binary"`. `"Metric"` by default.
* `max_delay` - (Optional) How long (in seconds) to wait for late datapoints
* `refresh_interval` - (Optional) How often (in seconds) to refresh the value.
* `max_precision` - (Optional) The maximum precision to for value displayed.
* `is_timestamp_hidden` - (Optional) Whether to hide the timestamp in the chart. `false` by default.
* `secondary_visualization` - (Optional) The type of secondary visualization. Can be `None`, `Radial`, `Linear`, or `Sparkline`. If unset, the Splunk Observability Cloud default is used (`None`).
* `show_spark_line` - (Optional) Whether to show a trend line below the current value. `false` by default.

## Attributes

In a addition to all arguments above, the following attributes are exported:

* `id` - The ID of the chart.
* `url` - The URL of the chart.
