---
page_title: "Splunk Observability Cloud: signalfx_team"
description: |-
  Allows Terraform to create and manage teams in Splunk Observability Cloud
---

# Resource: signalfx_team

Handles management of Splunk Observability Cloud teams.

You can configure [team notification policies](https://docs.splunk.com/observability/en/admin/user-management/teams/team-notifications.html) using this resource and the various `notifications_*` properties.

~> **NOTE** When managing teams, use a session token of an administrator to authenticate the Splunk Observability Cloud provider. See [Operations that require a session token for an administrator](https://dev.splunk.com/observability/docs/administration/authtokens#Operations-that-require-a-session-token-for-an-administrator).

## Example

{{tffile "examples/resources/team/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
