---
page_title: "Splunk Observability Cloud: signalfx_dimension_values"
description: |-
  Queries metric dimension values in Splunk Observability Cloud.
---

# Data Source: signalfx_dimension_values

Queries ordered metric dimension values for use in other Terraform resources.

## Example

{{tffile "examples/data-sources/signalfx_dimension_values/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
