---
name: documentation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
    build-docs:
      name: build-docs
      runs-on: ubuntu-latest
      steps:
        - name: Check out the codebase.
          uses: actions/checkout@v6
  
        - name: Set up Go
          uses: actions/setup-go@v6
          with:
            go-version: ${{ env.GO_VERSION }}
  
        - name: Caching dependency
          uses: actions/cache@v4
          with:
            path: |
              ~/.cache/go-build
              ~/go/pkg/mod
              ~/go/bin
            key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
  
        - name: Validate docs
          run: make check-docs
